body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica'; 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #4286f4;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Garamond';
}
h2 {
    font-family:'Helvetica', 'Garamond';
    font-size: 2em;
}
h3 {
    font-family:'Helvetica', 'Garamond';
    font-size: 1.5em;
}
p {
    font-size: 1em;
    font-family:'Garamond', 'Garamond';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul {
    font-family:'Garamond'; 'Garamond';
    margin-left:10px;
    list-style: circle;
}
ul ul{
  margin-left:15px;
    font-family:'Garamond'; 'Garamond';
    margin-left:15px;
    list-style: square;
}
