body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Garamond';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3855E5;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Garamond';
}
h2 {
    font-family:'Helvetica', 'Garamond';
    font-size: 2em;
}
h3 {
    font-family:'Helvetica', 'Garamond';
    font-size: 1.5em;
}
p {
    font-size: 1em;
    font-family:'Garamond', 'Garamond';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul li {
  background: #cce5ff;
  margin: 5px;
  font-family:'Garamond', 'Garamond';
}
ul.a {
  list-style-type: circle;
     font-family:'Garamond', 'Garamond';
}
